span.db{color:#59d8a1;font-weight:bold;font-family:atlas}
span.dw{color:#ff7c66;font-weight:bold;font-family:atlas}			
p.title{color:#f4f4f4;font-weight:bold;font-size:70px;text-align:center}
span.title{color:#f4f4f4;font-weight:bold;font-size:70px;text-align:center}
b.objective{color:#ff7c66}
span.objective {font-size: 70px;margin-top: 0.83em;margin-bottom: 0.83em;margin-left: 0;margin-right: 0;font-weight: bold;}
span.assignment {font-size: 70px;margin-top: 0.83em;margin-bottom: 0.83em;margin-left: 0;margin-right: 0;font-weight: bold;}
div.row {display: flex;}
div.col {flex: 1; padding: 1em;}
h1.def{color:#f4f4f4}
h1.current{color:#ff7c66}
section{data-background-opacity:1}
.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
